<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a5en1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AjustesActivity"
            android:label="@string/opcion_ajustes" />
        <activity
            android:name=".EstadisticasActivity"
            android:label="@string/opcion_estadisticas" />
        <activity
            android:name=".JugarActivity"
            android:label="@string/opcion_jugar" />
        <activity
            android:name=".Juego1.MainJuego1Activity"
            android:label="Main Juego 1" />
        <activity
            android:name=".Juego1.MenuJuego1Activity"
            android:label="@string/category_juego1" />
        <activity
            android:name=".Juego2.MenuJuego2Activity"
            android:label="@string/category_juego2" />
        <activity
            android:name=".Juego2.Juego2Activity"
            android:label="@string/category_juego2" />
        <activity
            android:name=".Juego3.MenuJuego3Activity"
            android:label="@string/category_juego3" />
        <activity
            android:name=".Juego4.MenuJuego4Activity"
            android:label="@string/category_juego4" />
        <activity
            android:name=".Juego5.MenuJuego5Activity"
            android:label="@string/category_juego5" />
    </application>

</manifest>