<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a5en1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AjustesActivity"
            android:label="@string/opcion_ajustes" />
        <activity
            android:name=".EstadisticasActivity"
            android:label="@string/opcion_estadisticas" />
        <activity
            android:name=".JugarActivity"
            android:screenOrientation="portrait"
            android:label="@string/opcion_jugar" />
        <activity
            android:name=".Juego1.MainJuego1Activity"
            android:screenOrientation="portrait"
            android:label="Main Juego 1" />
        <activity
            android:name=".Juego1.MenuJuego1Activity"
            android:screenOrientation="portrait"
            android:label="@string/category_juego1" />
        <activity
            android:name=".Juego1.ResultadosJuego1Activity"
            android:screenOrientation="portrait"
            android:label="Resultados Juego 1" />
        <activity
            android:name=".Juego2.MenuJuego2Activity"
            android:label="@string/category_juego2" />
        <activity
            android:name=".Juego2.Juego2Activity"
            android:label="@string/category_juego2" />
        <activity
            android:name=".Juego2.ResultadosJuego2Activity"
            android:label="@string/category_juego2" />
        <activity
            android:name=".Juego3.MenuJuego3Activity"
            android:label="@string/category_juego3" />
        <activity
            android:name=".Juego4.MenuJuego4Activity"
            android:label="@string/category_juego4" />
        <activity android:name=".Juego4.Juego4Activity12_1_1_1_2"></activity>
        <activity android:name=".Juego4.Juego4Activity13" />
        <activity android:name=".Juego4.Juego4Activity11_1_1_1_2_3" />
        <activity android:name=".Juego4.Juego4Activity11_1_1_1_2_2" />
        <activity android:name=".Juego4.Juego4Activity11_1_1_1_2_1" />
        <activity android:name=".Juego4.Juego4Activity11_1_1_1_1_2" />
        <activity android:name=".Juego4.Juego4Activity11_1_1_1_1_1" />
        <activity android:name=".Juego4.Juego4Activity10_1_2" />
        <activity android:name=".Juego4.Juego4Activity10_1_1_2" />
        <activity android:name=".Juego4.Juego4Activity10_1_1_1_2" />
        <activity android:name=".Juego4.Juego4Activity10_1_1_1_1" />
        <activity android:name=".Juego4.Juego4Activity9_1_2_3" />
        <activity android:name=".Juego4.Juego4Activity9_1_2_2" />
        <activity android:name=".Juego4.Juego4Activity9_1_2_1" />
        <activity android:name=".Juego4.Juego4Activity8_1_1" />
        <activity android:name=".Juego4.Juego4Activity9_1_1_2" />
        <activity android:name=".Juego4.Juego4Activity9_1_1_1" />
        <activity android:name=".Juego4.Juego4Activity8_1_3" />
        <activity android:name=".Juego4.Juego4Activity8_1_2" />
        <activity android:name=".Juego4.Juego4Activity7_3" />
        <activity android:name=".Juego4.Juego4Activity7_2" />
        <activity android:name=".Juego4.Juego4Activity7_1" />
        <activity android:name=".Juego4.Juego4Activity5_1_1" />
        <activity android:name=".Juego4.Juego4Activity6" />
        <activity android:name=".Juego4.Juego4Activity4_1_2" />
        <activity android:name=".Juego4.Juego4Activity4_1_1" />
        <activity android:name=".Juego4.Juego4Activity3_2" />
        <activity android:name=".Juego4.Juego4Activity3_1" />
        <activity android:name=".Juego4.Juego4Activity2" />
        <activity android:name=".Juego4.Juego4Activity1" />
        <activity
            android:name=".Juego5.MenuJuego5Activity"
            android:label="@string/category_juego5" />
    </application>

</manifest>